{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Output</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    
    <h3>
      Congrats, {{name}}! You have earned {{points}} points in your last visit.
    </h3>
    <h3>
      Actions taken this trip:
    </h3>
    
     {% for action in ecoactions %}
      <p>{{ action }}</p>
    {% endfor %}

    
    
    
   <!--   TO DO: - Display First/Last name from currently logged in User
                - Show this user's total points (get the EcoUser, then get points)
                - Show this user's action list -->
    
    

	</body>
</html>