{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Output</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    
    <p>
      Congrats, User! You have earned 100 points in your last visit.
    </p>
    
    <p>
      Actions taken this trip:
    </p>
    
<!--     TO DO: query this user's action list -->
    

	</body>
</html>